.ico-sort {
    width: 12px;
    height: 20px;
    background-repeat: no-repeat;
}
.sort_up {
    background-image: url('./../../image/Archive/up_enable.svg');
}
.sort_down {
    background-image: url('./../../image/Archive/down_enable.svg');
}
.sort_up.disabled {
    background-image: url('./../../image/Archive/up_disable.svg');
}
.sort_down.disabled {
    background-image: url('./../../image/Archive/down_disable.svg');
}
