.col-left-non-vio{
    width: 100%;
}
.container-row-non-vio{
    width: 94%;
    margin: auto;
}
.th-title-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.check-false {
    background: url(../../image/check_false.svg) no-repeat center center;
}
a.check-true {
    background: url(../../image/check_true.svg) no-repeat center center;
}
a.check-true, a.check-false {
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain !important;
}

.status-title{
    border-radius: 5px;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    padding: 10px;
}
.violation-color{
    background: #FFD2DA;
    color: #D80027;
}
.unviolation-color{
    color: #5DA364;
    background: #E2F2E3;
}