@media only screen and  (max-width: 1113px) {
#div-pc{
    display: none;
}
#div-moblie{
    display: block;
}

.container-row-mobile{
    width: 100%;

}
.lish-body{
    width: 100%;
    border-bottom: 1px solid #eee;
}
.lish-child{
    width: 100%;
    padding: 10px 16px;
    display: flex;
    height: 123px;
}
.media-body{
    width: 90%;
}
.media-img{
    width: 120px;
    display: flex;
    align-items: center;
}
.media-body-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-style{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 270%;
    display: flex;
    align-items: center;
    color: #0C3C60;
}
.title-style-checking{
    font-family: var(--font-bradon);
    font-style: normal;
    font-weight: 420;
    font-size: 20px;
    color: #0C3C60;
}
.p-style{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 170%;
    display: flex;
    align-items: center;
    color: #6F6F6F;
}
li:nth-child(3) img {
    margin-left: 0px !important;
}
.list-child{
width: 100%;
padding: 10px;
display: flex;
justify-content: center;
flex-direction: column;
}
.lish-top{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.lish-top img{
    width: 24px !important;
    height: 24px;
    margin-right: 15px;
}
.lish-title-style{
    font-family: var(--font-bradon);
    font-style: normal;
    font-weight: 420;
    font-size: 25px;
    color: #0C3C60;
}

.media-link{
    display: flex;
    align-items: center;
}
.media-link p{
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    color: #0C3C60;
    margin-left: 15px;
}
.detail-info{
    width: 100%;
}
.detail-infoi{
    width: 49%;
    display: flex;
    align-items: flex-start;
    float: left;
    padding: 10px 0px;
}
.detail-infoi-left{
    width: 59%;
}
.detail-infoi-right{
    width: 39%;
}
.h4-title{
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
color: #000000;
}
.img-icon-detail{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
}
.detail-content{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    /* display: flex;
    align-items: center;
    text-align: justify; */
    color: #6F6F6F;
}
.table-code{
    border: 1px solid #C7C7C7;
    margin-bottom: 10px;
}
.table-code-operator{
    border: 1px solid #C7C7C7;
    margin-bottom: 10px;
}
.table-code-border{
    border:none;
}
.table-code-top{
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
    padding: 10px;
    justify-content: space-between;
}
.table-code-top h2{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    color: #6F6F6F;
}
.table-code-buton{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.table-code-aticle{
    width: 100%;
    display: flex;
    align-items: flex-start;
    float: left;
    padding: 10px;
    border-bottom: 1px solid #C7C7C7;
}.table-code-tile{
    width: 100%;
    display: flex;
    align-items: flex-start;
    float: left;
    padding: 10px;
    flex-direction: column;
}
.color-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
}
.up-file-mobile{
    width: 100%;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
}
.body-upload{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.body-upload img{
    width: 24px;
    height: 24px;
}
}
.not-yet-opera{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
    color: #6F6F6F;
}
.table-code-buton{
    width: 100%;
}
.btn-violation{
    width: 95%;
    background: #0C3C60;
    margin: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}
.btn-non-violation{
    width: 95%;
    border: 1px solid #C7C7C7;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6F6F6F;
    padding: 10px;
    margin: 0px 10px 10px 10px;

}
.modal-title-mobile{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}
.modal-title-mobile-code{
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}
.open-modal-mobile-code{
    display: none;
}
.modal-confirm-content-mobile{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content-mobile-code{
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0%;
    /* left: 50%;
    transform: translate(-50%, -50%); */
}
.table-button-all{
    position: sticky;
    bottom: 0px;
    width: 100%;
    /* height: 150px; */
    background-color: white;
    display: flex;
    align-items: center;
}
.py-4{
    padding-bottom: 0rem!important;
}
.col-md-1 {
    width: 100% !important;
}
.row-style{
    height: calc(100% - 14vh - 80px);
    overflow: auto;
    /* padding-bottom: 40px; */
}
.input-style{
    margin-right: 10px;
}
.button-cancel-style{
    border: 1px solid #C7C7C7;
    background: white;
}
.btn-search-mobile{
    width: 22px;
}
.status-leal{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.check_box_code {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
  }

  /* Hide the browser's default checkbox */
  .check_box_code input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark_code {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--white);
    border: 1px solid var(--primary);
  }

  /* On mouse-over, add a grey background color */
.check_box_code:hover input ~ .checkmark {
    background-color: #ccc;
}

  /* When the checkbox is checked, add a blue background */
.check_box_code input:checked ~ .checkmark {
    background-color: #2196F3;
}

  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark_code:after {
    content: "";
    position: absolute;
    display: none;
}

  /* Show the checkmark when checked */
.check_box_code input:checked ~ .checkmark_code:after {
    display: block;
}

  /* Style the checkmark/indicator */
.check_box_code .checkmark_code:after {
    left: 7px;
    top: 0px;
    width: 8px;
    height: 19px;
    border: solid var(--gray-6F);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn-confirm-mobile{
    margin-left: -20px;
    width: 100vw;
    background-color: white;
    /* bottom: 0;
    position: fixed; */
}
/*  */
@media only screen and (min-width: 426px) and (max-width: 739px) {
.media-body{
width: 80%;
}
.pagination li {
    padding: 1px 10px !important;
}
}

@media only screen and (max-width: 425px) {
.media-body{
width: 75%;
}
.pagination li {
    padding: 1px 10px !important;
}
}
