@media only screen and  (max-width: 1113px) {
#div-pc{
    display: none;
}
#div-moblie{
    display: block;
}

.container-row-mobile{
    width: 100%;

}
.lish-body{
    width: 100%;
    border-bottom: 1px solid #eee;
}
.lish-child{
    width: 100%;
    padding: 10px;
    display: flex;
}
.media-body{
    width: 90%;
}
.media-img{
    width: 120px;
}
.media-body-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-style{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 270%;
    display: flex;
    align-items: center;
    color: #0C3C60;
}
.p-style{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 170%;
    display: flex;
    align-items: center;
    color: #6F6F6F;
}
li:nth-child(3) img {
    margin-left: 0px !important;
}
.list-child{
width: 100%;
padding: 10px;
display: flex;
justify-content: center;
flex-direction: column;
}
.lish-top{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.lish-top img{
    width: 24px !important;
    height: 24px;
    margin-right: 15px;
}
.lish-title-style{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 25px;
    color: #0C3C60;
}
.media-link{
    display: flex;
    align-items: center;
}
.media-link p{
    cursor: pointer;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    color: #0C3C60;
    margin-left: 15px;
}
.detail-info{
    width: 100%;
}
.detail-infoi{
    width: 49%;
    display: flex;
    align-items: flex-start;
    float: left;
    padding: 10px 0px;
}
.h4-title{
    font-family: 'Avenir Next';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
color: #000000;
}
.img-icon-detail{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
}
.detail-content{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #6F6F6F;
}
.table-code{
    border: 1px solid #C7C7C7;
    margin-bottom: 10px;
}

.table-code-top{
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
    padding: 10px;
    justify-content: space-between;
}
.table-code-top h2{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    color: #6F6F6F;
}
.table-code-buton{

}
.table-code-aticle{
    width: 100%;
    display: flex;
    align-items: flex-start;
    float: left;
    padding: 10px;
    border-bottom: 1px solid #C7C7C7;
}.table-code-tile{
    width: 100%;
    display: flex;
    align-items: flex-start;
    float: left;
    padding: 10px;
    flex-direction: column;
}
.color-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
}
.up-file-mobile{
    width: 100%;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
}
.body-upload{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.body-upload img{
    width: 24px;
    height: 24px;
}
}
.not-yet-opera{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
    color: #6F6F6F;
}
.table-code-buton{
    width: 100%;
}
.btn-violation{
    width: 100%;
    background: #0C3C60;
    margin-bottom: 10px;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}
.btn-non-violation{
    width: 100%;
    border: 1px solid #C7C7C7;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6F6F6F;
    padding: 10px;

}
.modal-title-mobile{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}
.modal-title-mobile-code{
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}
.open-modal-mobile-code{
    display: none;
}
.modal-confirm-content-mobile{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content-mobile-code{
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.table-button-all{
    position: sticky;
    bottom: 0px;
    width: 100%;
    /* height: 150px; */
    background-color: white;
    display: flex;
    align-items: center;
}
.py-4{
    padding-bottom: 0rem!important;
}

@media only screen and (min-width: 426px) and (max-width: 739px) {
.media-body{
width: 80%;
}
.pagination li {
    padding: 1px 10px !important;
}
}

@media only screen and (max-width: 425px) {
.media-body{
width: 75%;
}
.pagination li {
    padding: 1px 10px !important;
}
}
