@font-face {
    font-family: "Brandon Grotesque";
    src: local("Brandon Grotesque"),
     url("../fonts/Brandon_Grotesque/Brandon_med.otf") format("truetype");
}

@font-face {
    font-family: "Avenir Font";
    src: local("Avenir Font"),
     url("../fonts/Avenir_Font/AvenirLTStd-Black.otf") format("truetype");
}
.container-table{
    margin: auto;
    margin-top: 20px;
    width: 100%;
    /* height:100vh; */
}
.container_row{
    /* width: 97%; */
    display: flex;
    margin-left: 60px;
}
.col-left{
    width: 55%;
    display: flex;
}
.col-right{
    width: 45%;
    /* overflow-x: scroll;
    overflow-y: hidden; */
}

/* .col-right-form{
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: block;
    align-items: normal;
} */
.col-right-form::-webkit-scrollbar{
    display: none;
}
.ico-sort{
    cursor: pointer;
}
.col-table{
    width: 100%;
    flex-direction: column;
    /* height:90px; */
    /* cursor: pointer; */
}
.style-title{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 136.5%;
    align-items: center;
    color: #0C3C60;
    border: 1px solid #EEEEEE;
    padding: 10px 20px;
    background: #F4F4F4;
}
.scroll{
    width: 120%;
}
.col-thead{
    height:110px;
}
.container-scroll{
    cursor: grab;
    overflow: auto;
    display: flex !important;
    flex-direction: column;
}
.tr-boder td{
    border: 1px solid #EEEEEE;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.5%;
    color: #000000;
}
.td-img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.td-link{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.tbdata tr td{
    height: 150px;
    max-height: 115px;
    padding: 0px 10px;
}
.tbdata tr td.contenttb{
    text-align: left;
    text-align: justify;
    white-space: normal;
    word-break: break-word;
}
.tbdata tr td.contenttb a{
    text-decoration: none;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    cursor: pointer;
}
.wr-img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.wr-img img {
    object-fit:contain;
}
.tbdata tr th, .tbdata tr td {
    padding: 0.35rem;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.tr-boder td a{
    color: #000000;
}
.tbdata thead tr th {
    position: sticky !important;
    top: -2px;
    z-index: 100;
}
.th-title-right{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #EEEEEE;
}

.th-title-right p {
    margin-right: 5px;
}

/* Modal Box */
.modal-title {
    /* display: none; */
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
  }

  /* Modal img */
.modalimg{
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
}

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative;
  }
  .head-modal{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 20px;
  }
  .div-close{
      margin-bottom: 20px;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content p{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .head-modal h1{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 136.5%;
    color: #082136;
  }
  .modal-img{
      width: 591px;
      height: 591px;
      margin-bottom: 20px;
  }

.select--country {
    z-index: 1000 !important;
}
.select--company-or-brand {
    z-index: 1000 !important;
}
.select--violation--type {
    z-index: 1000 !important;
}

.row-pagination{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}
.pagination li{
    color: black;
    float: left;
    padding: 8px 16px !important;
    text-decoration: none;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 136.5%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #6F6F6F;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.pagination li a{
    float: left;
    /* padding: 8px 16px !important; */
    text-decoration: none;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 136.5%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #6F6F6F;
    flex: none;
    order: 2;
    flex-grow: 0;
    cursor:pointer;
}
/* .pagination li span{

} */
.active{
    background-color: #6F6F6F;
    border-radius: 3px;
    color: #ffffff !important;
}


  .wrap {
    position: relative;
    overscroll-behavior: contain;
  }

  .headers {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }

  .scroller {
    display: flex;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .scroller {
    overflow-x: hidden;
    height: 110px;
    background: #F4F4F4;
  }

  .tracks {
    overflow: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;

  }

  .headers p{
    color: #0C3C60;
  }
  .heading,.heading-three{
    color: #0C3C60;

  }
  .scenes::-webkit-scrollbar,
  .syncscroll::-webkit-scrollbar {
    display: none;
  }

  .track {
    flex: 1 0 calc(20%);
    scroll-snap-align: start;
  }

  .track + .track {
    margin-left: -1px;
  }
  .track-three{
    flex: 1 0 calc(100%);
  }

  .heading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px solid #EEEEEE;
    z-index: 1;
    /* background: #efefef; */
    font-weight: 700;
  }
  .heading-three{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px solid #EEEEEE;
    z-index: 1;
    font-weight: 700;
}
.heading-three-violation{
    width: 50%;
}
.heading-three-title{
    height: 50%;
    width: 100%;
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px solid #EEEEEE;
    z-index: 1;
    font-weight: 700;
}
  .entry {
    border: 1px solid #ebebeb;
    border-top: 0;
    background: #fff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  @media (max-width: 767px) {
    .track {
      flex: 1 0 calc(50% + 7px);
    }
  }

  .col-right{
    width: 45%;
}
.title-right{
    display: flex;
}
.entry-three{
    border: 1px solid #ebebeb;
    border-top: 0;
    background: #fff;
    height: 150px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.entry-title{
    height: 100%;
    width: 30%;
    border-right: 1px solid #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entry-title-threee{
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-table{
  display: flex;
}


 .checkbox-code{
    font-size: 17px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 0px;
    /* cursor: pointer; */
    display: flex;
}
.checkbox-style{
  margin-right: 10px;
}
.btn-confirm{
  display: flex;
  justify-content: flex-end;
}
.checkmark{
  cursor: pointer;
}
.btn-confirm-style{
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 136.5%;
  color: #FFFFFF;
  background: #0C3C60;
}

.search__result__table p{
    text-align: center;
    font-size: 70px;
    padding: 50px;
    font-family: 'Brandon Grotesque';
    color: #C7C7C7;
}
.bot-violation-code{
  overflow: scroll;
  padding: 10px;
}
.bot-violation-code::-webkit-scrollbar{
  display: none;
}
.cursor{
  cursor: pointer;
}
.no-padding{
  display: flex !important;
  justify-content: center !important;
  padding-left: 8% !important;
}
.center-header{
  display: flex;
  justify-content: center;
  padding-left: 15% !important;
}
.page-link{
  border: none !important;
}
.track-one-title{
  flex: 1 0 calc(40%) !important;
}
.entry-one-item{
  display: flex !important;
  justify-content: center !important;
}
.style__code_vio{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    width: 100%;
    padding: 10px;
    border-left: none;
    border-right: none;
}