#div-moblie{
  display: none;
}
.container-table{
    margin: auto;
    margin-top: 20px;
    width: 100%;
    /* height:100vh; */
}
.container_row{
    /* width: 97%; */
    display: flex;
    margin-left: 60px;
}
.col-left{
    width: 50%;
    display: flex;
}
.col-right{
    width: 50%;
}

.col-right-form::-webkit-scrollbar{
    display: none;
}
.ico-sort{
    cursor: pointer;
}
.col-table{
    width: 100%;
    flex-direction: column;
    /* height:90px; */
    /* cursor: pointer; */
}
.style-title{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 136.5%;
    align-items: center;
    color: var(--primary);
    border: 1px solid var(--gray-EE);
    padding: 10px 20px;
    background: var(--gray-F4);
}
.scroll{
    width: 120%;
}
.col-thead{
    height:110px;
}
.container-scroll{
    cursor: grab;
    overflow: auto;
    display: flex !important;
    flex-direction: column;
}
.container-scroll-non{
  flex-direction: column;
}
.tr-boder td{
    border: 1px solid var(--gray-EE);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.5%;
    color: var(--black);
}
.tr-boder:first-child td{
    border-top: none;
}
.td-img{
    width: 95%;
    height: 100px;
    cursor: pointer;
}
.td-link{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.a-link:hover {
  content: url('../../image/ico_link_enable.svg');
}
.btn-switch:hover{
  content: url('../../image/ico_switch_enable.svg');
}
.upload-file:hover{
  content: url('../../image/dislega2.png');
}
.tbdata tr td{
    height: 150px;
    max-height: 115px;
    padding: 0px 10px;
}
.tbdata tr td.contenttb{
    text-align: left;
    text-align: justify;
    white-space: normal;
    word-break: break-word;
}
.tbdata tr td.contenttb a{
    text-decoration: none;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    cursor: pointer;
}
.tbdata tr td.contenttb a:hover{
  text-decoration-line: underline;
}
.wr-img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.wr-img img {
    object-fit:contain;
}
.tbdata tr th, .tbdata tr td {
    padding: 0.35rem;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.tr-boder td a{
    color: var(--black);
}
.tbdata thead tr th {
    position: sticky !important;
    top: -2px;
    z-index: 100;
}
.th-title-rights{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid var(--gray-EE);
}

.th-title-rights p {
    margin-right: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

/* Modal Box */
.modal-title {
    /* display: none; */
    position: fixed;
    z-index: 1000;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
  }

  /* Modal img */
.modalimg{
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
}

  .modal-content {
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: absolute;
    max-width: 874px;
    width: 100%;
    max-height: 475px;
    top: 50%;
    overflow-y: auto;
  }
  .head-modal{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

  }
  .div-close{
      margin-bottom: 20px;
  }

  .close:hover,
  .close:focus {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: var(--black);
  }
  .head-modal h1{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 136.5%;
    color: var(--primary);
    font-family: 'Brandon Grotesque';
    color: #082136;
  }

  .search_code_article{
    width: 100%;
    display: flex;
    border: 1px solid var(--gray-C7);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .search_code_article img{
    margin: 0 10px
  }

  .search_code_article input {
    border: none;
    margin: 14px 5px 14px 0px;
    width: 100%;
    }

  .modal-img{
    width: 56%;
    margin-bottom: 20px;
  }

.select--country {
    z-index: 1000 !important;
}
.select--company-or-brand {
    z-index: 1000 !important;
}
.select--violation--type {
    z-index: 1000 !important;
}

.row-pagination{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}
.pagination li{
    color: var(--black);
    float: left;
    padding: 8px 16px !important;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 136.5%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: var(--gray-6F);
    flex: none;
    order: 2;
    flex-grow: 0;
}
.pagination li a{
    float: left;
    /* padding: 8px 16px !important; */
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 136.5%;
    display: flex;
    align-items: center;
    text-align: justify;
    color:  var(--gray-6F);
    flex: none;
    order: 2;
    flex-grow: 0;
    cursor:pointer;
}
.grabbing{
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
/* .pagination li span{

} */
.active{
    background-color: #6F6F6F;
    border-radius: 3px;
    color:  var(--white) !important;
}


  .wrap {
    position: relative;
    overscroll-behavior: contain;
  }

  .headers {
    top: -2px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }

  .scroller {
    display: flex;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .scroller {
    overflow-x: hidden;
    height: 110px;
    background:  var(--gray-F4);
  }

  .tracks {
    overflow: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
  }

  .headers p{
    color:  var(--primary);
    font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 136.5%;
  /* identical to box height, or 22px */
  text-align: center;

  display: flex;
  align-items: center;

  color: #0C3C60;
  }
  .heading,.heading-three{
    color:  var(--primary);

  }
  .scenes::-webkit-scrollbar,
  .syncscroll::-webkit-scrollbar {
    display: none;
  }

  .track {
    flex: 1 0 calc(158px);
  }

  .track:first-child .entry{
      border-left: none;
  }

  .track + .track {
    margin-left: -1px;
  }
  .track-three{
    flex: 1 0 calc(680px);
  }
.track-link{
  flex: 1 0 calc(60px);
}
.track-switch{
  flex: 1 0 calc(10%);
}
  .heading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px solid  var(--gray-EE);
    z-index: 1;
    /* background: #efefef; */
    font-weight: 700;
  }
  .heading-three{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px solid var(--gray-EE);
    z-index: 1;
    font-weight: 700;
}
.heading-three-violation{
    width: 50%;
}
.heading-three-title{
    height: 50%;
    width: 100%;
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px solid var(--gray-EE);
    z-index: 1;
    font-weight: 700;
}
  .entry {
    border: 1px solid #ebebeb;
    border-top: 0;
    background: var(--white);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  @media (max-width: 767px) {
    .track {
      flex: 1 0 calc(50% + 7px);
    }
  }

.title-right{
    display: flex;
}
.entry-three{
    border: 1px solid #ebebeb;
    border-top: 0;
    background: var(--white);
    height: 150px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.entry-title{
    height: 100%;
    width: 30%;
    border-right: 1px solid var(--gray-EE);
    display: flex;
    justify-content: center;
    align-items: center;
}
.entry-title-threee{
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entry-title-threee p{
  line-height:22px;
  font-family: 'Avenir Next';
  font-weight: 500;
}
.scroll-table{
  display: flex;
}


 .checkbox-code{
    font-size: 17px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 0px;
    /* cursor: pointer; */
    display: flex;
}
.checkbox-style{
  margin-right: 10px;
}
.btn-confirm{
  display: flex;
  justify-content: center;
}
.checkmark{
  cursor: pointer;
}

.btn-confirm-style{
  font-family: "Avenir roman Font";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 136.5%;
  color: var(--white);
  background: var(--primary);
}

.search__result__table p{
    text-align: center;
    font-size: 40px;
    padding: 50px;
    font-family: 'Brandon Grotesque';
    color: var(--gray-C7);
}
.bot-violation-code{
  overflow: scroll;
  padding: 10px;
}
.bot-violation-code::-webkit-scrollbar{
  display: none;
}
.cursor{
  cursor: pointer;
}

.no-padding{
  display: flex !important;
  justify-content: center !important;
}

.center-header{
  display: flex;
  justify-content: center;
}
.page-link{
  border: none !important;
}
.track-one-title{
  flex: 1 0 calc(40%) !important;
}
.entry-one-item{
  display: flex !important;
  justify-content: center !important;
}
.entry-one-item p{
  line-height: 22px;
  font-weight: 500;
}
.style__code_vio{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    width: 100%;
    padding: 10px;
    border-left: none;
    border-right: none;
}
.hide-div{
  display: none;
}
.col-form-nonvio{
  width: 47% !important;
}
input[type=checkbox] {
  transform: scale(1.5);
}
.supervisor-violation-code{
  overflow: auto;
}
.list-option{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
}
.no-file-upload{
    font-size: 23px !important;
    font-family: 'Avenir Next';
    font-weight: 500 !important;
    font-size: 16px;
    line-height: 22px;
    color: #C7C7C7 !important;
    text-align: center;
}
.row-upload{
  max-height: 353px;
  overflow-y: scroll;
}
.paginate_showing{
    display: flex;
    margin-left: 60px;
}
.status-title-p{
  margin-right: 5px;
}
.style_violation_type{
    display: block !important;
    overflow: auto;
    height: 150px !important;
}



.select--country{
    position: absolute;
    top: 50px;
    left: -80%;
    width: 353px;
    background: var(--white);
    border: 1px solid var(--gray-C7);
    box-sizing: border-box;
    display: none;
    border-radius: 5px;
}

.slc_suspected{
    left: -1% ;
}

.ctr_suspected{
    margin-bottom: 20px;
}

.list--status{
    position: relative;
    justify-content: space-between;
    padding: 14px 0;
    display: flex;
    border: 1px solid var(--gray-C7);
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
    width: 90%;
    margin: 0 auto;
}

.list--status p{
    padding-left: 10px;
}

.list--status img {
    padding-right: 10px;
    width: 20px;
    height: 20px;
}

.select--status{
    position: absolute;
    top: -35px;
    left: -6px;
    width: 150px;
    background: var(--white);
    border: 1px solid  var(--gray-C7);
    box-sizing: border-box;
    max-height: 350px;
    overflow: auto;
    display: none;
    border-radius: 5px;
}

.select__one--status{
    display: flex;
    justify-content:flex-end;
    padding: 10px 5px;
    position: relative;
}

.select__one--status:first-child > p{
    color: var(--gray-6F);
}

.select__one--status:hover {
    background-color: var(--gray-F4);
    transition: 0.3s linear;
}

.select__one--status p {
    width: 100%;
    text-align: left;
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
    /* SELECT STATUS  */
.select__one--status img{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 740px) and (max-width: 1113px) {
    #div-pc{
      display: none;
    }
    #div-moblie{
      display: block;
    }
}

@media only screen and (min-width: 426px) and (max-width: 739px) {

}

@media only screen and (max-width: 425px) {

}
