@import url("./header/navMenu.css");
@import url("./dateRangePicker/dateRangePicker.css");
@import url("./header/SelectTabs.css");
@import url("./btnSelect/companyAndBrand.css");
@import url("./btnSelect/selectCountry.css");
@import url("./btnSelect/selectViolationType.css");
@import url("./modal/modalEditAccount.css");
@import url("./suspected/suspectedImageOrText.css");
@import url("./autodetect/content.css");
@import url("./autodetect/table.css");





