
.container__usermanual{
    margin: 0 172px;;
}
video {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    object-fit: cover;
}

video[poster] {
  width:100%;
}

.wrapper{
    width: 100%;
    height: 43vw;
    max-height: 100%;
    overflow: hidden;
}

  .btn:not(:disabled):not(.disabled) {
    box-shadow: none;
  }
  ::placeholder {
    color: rgba(25, 168, 145, 0.6);
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: rgba(25, 168, 145, 0.6);
  }

  ::-ms-input-placeholder {
    color: rgba(25, 168, 145, 0.6);
  }
  button:hover {
    opacity: 0.9;
  }

  .accordion {
    background: var(--white);
    cursor: pointer;
    padding: 18px 29px;
    width: 70vw;
    font-family: "Avenir";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: var(--primary);
    border: 0;
    outline: none;
    text-align: left;
    background: #F4F4F4;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
  }

  .panel {
    text-align: justify;
    background-color: var(--white);
    display: none;
    outline: none;
    opacity: 1;
    margin:0 20px ;
  }

  .panel .child-accordion:first-child{
    padding-top: 0px;
  }

  .child-accordion {
    background:  var(--white);
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    font-family: "Avenir";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: underline;
    color:  var(--primary);
    text-align: left;
    outline: none;
    transition: 0.4s;
    position: none;
    cursor: pointer;
    border:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add {
    size: 16px;
    text-align: justify;
    margin: 20px auto;
    display: none;
    padding: 0 18px;
    font-style: normal;
    color: #262626;
  }
  .panel .at {
    transition: opacity 0.5s ease;
  }

  .add img {
      width: 100%;
  }

  .add span {
    font-style: normal;
    font-weight: 600;
  }
  .panel span {
    font-family: "avenir";
    font-style: normal;
    font-weight: 600;
  }
  .panel p {
    font-size: 15px;
    margin-bottom: 0px !important;
  }

  .panel ul{
      padding-left: 20px;
  }

  .panel ul li {
      list-style:circle;
  }



  .add a {
    text-decoration: none;
  }
  .add li,
  .panel li {
    text-align: left;
    font-size: 15px;
  }

  .show{
    display: block;
  }

  .hide{
    display: none;
  }

  .wrap-accordion a{
      text-decoration: none;
  }
