/* select country  */
.select--country{
    position: absolute;
    top: 50px;
    left: -80%;
    width: 353px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    display: none;
}

.search--input--country {
    padding: 14px 0;
    display: flex;
    align-items: center;
    border: 1px solid #C7C7C7;
    margin: 23px 23px 10px 23px;
}

.search--input--country input{
    border: none;
    width: 100%;
}

.select__one--country{
    display: flex;
    justify-content:flex-end;
    padding: 14px 23px;
    position: relative;
}

.select__one--country:first-child > p{
    color: #6F6F6F;
}

.select__one--country:hover {
    background: #F4F4F4;
    transition: 0.3s linear;
}

.select__one--country p {
    width: 100%;
    text-align: left;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.select__one--country img{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.select__one--country:first-child > img{
    display: block;

}
