.select--violation--type{
    position: absolute;
    top: 50px;
    left: -80%;
    width: 480px;
    background: var(--white);
    border: 1px solid  var(--gray-C7);
    box-sizing: border-box;
    max-height: 365px;
    overflow: auto;
    display: none;
}

.select__one--violation--type{
    display: flex;
    justify-content:flex-end;
    padding: 14px 23px;
    position: relative;
}

.select__one--violation--type:first-child > p{
    color: var(--gray-6F);
}

.select__one--violation--type:hover {
    background-color: var(--gray-F4);
    transition: 0.3s linear;
}

.select__one--violation--type p {
    width: 100%;
    text-align: left;
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.select__one--violation--type img{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn__apply{
    background-color: var(--primary);
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    max-width: 120px;
    width: 100%;
    border: none;
}

.create__profile{
    margin-left: 10px;
    padding: 14px 13px;
    background-color: var(--primary);
    width: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create__profile p{
   color: var(--white);
}
