@media (max-width: 1355px) {
    .Base_violation--brand,
    .index_violation-nonViolation,
    .title_analysis .list--select--option,
    .title_analysis .list--title {
        margin: 15px 150px;
    }
}

@media (max-width: 1255px) {
    .Base_violation--brand,
    .index_violation-nonViolation,
    .title_analysis .list--select--option,
    .title_analysis .list--title {
        margin: 15px 100px;
    }
    .Base_violation--brand{
        padding: 26px 40px;
    }
}

@media (max-width: 1113px) {
    /* //STATUS */
    .title_analysis .list--title {
        margin: 0 30px;
        margin-bottom:15px;
    }

    #daterange{
        height: 46px;
    }

    .Base_violation--brand .table_analysis .table_analysis_body li{
        font-weight: 600;
    }
    .Base_violation--brand .table_analysis .table_analysis_body .name_brand{
        width: 100% !important;
    }

    .list_slc_analysis .btn__apply,
    .list_slc_analysis #daterange{
        display: none;
    }

    .title_analysis .list--select--option{
        margin: 0px;
    }


    .Base_violation--brand,
    .index_violation-nonViolation{
        margin: 15px;
        padding : 20px 5px;
    }

    .Base_violation--brand{
        padding: 20px;
    }

    .Base_violation--brand .list--select__right{
        width: 100%;
    }

    .index_violation-nonViolation{
        height: 100%;
    }

    .title_table_analysis{
        display: block;
        text-align: center;
        margin: 10px 0 10px 0;
        height: 20px;
    }

    .title_table_analysis p{
        font-family: var(--font-bradon);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: var(--primary);
        padding: 0 20px;
        text-align: center;
    }

    /* TABLE BASE ON BRAND */
    .Base_violation--brand .list--select--option .list--select__right{
        width: 100%;
    }

    .Base_violation--brand .list--select--option .list--select__right p {
        font-family: var(--font-bradon);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: var(--primary);
    }

    .table_analysis_body > li:first-child,
    .table_analysis_header{
        display: none;
    }

    .table_analysis_body > li:nth-child(2){
        margin-top: 10px;
        width:  60% !important;
    }

    .table_analysis_body{
        display: block;
        position: relative;
        border-bottom: 1px solid var(--gray-C7);
    }

    .table_analysis_body >  .item_base_on_brand{
        width: 100% !important;
    }

    .item_base_on_brand{
        padding: 0px 0px 5px 0 !important;
    }

    .table_analysis_body li:nth-child(2){
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: var(--black);
    }

    .res_item_brand{
        width: 100%;
        padding-top: 30px;
    }

    .res_item_brand .item_base_on_brand{
        width: auto ;
        font-style: normal;
        font-weight: 600;
        font-size: 13px !important;
        line-height: 170%;
    }

    .res_item_brand .item_base_on_brand:nth-child(2){
        position: absolute;
        top: 30px;
        color: #D80027 !important;
    }

    .res_item_brand .item_base_on_brand:nth-child(2):after{
        content : " violations";
        color: #D80027 !important;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 170%;
    }

    .res_item_brand .item_base_on_brand:first-child{
        padding-right: 30px !important;
    }

    .res_item_brand .item_base_on_brand:first-child:before{
        content : "Article: ";
        color: var(--gray-6F);
        font-weight: 500;
    }

    .res_item_brand .item_base_on_brand:nth-child(3):before{
        content : "Percentage: ";
        color: var(--gray-6F);
        font-weight: 500;
    }

    .slc_analysis .list--select__left #daterange{
        display:  fixed !important;
    }
    .Base_violation--brand .list--select--option .list--select__left,
    .slc_analysis .list--select__left{
        margin-top: 0;
    }

    /* TABLE ON CONDE */
    .base_code_item{
        padding-left: 0px !important;
        width: 100% !important;
    }

    .base_code_item:nth-child(5){
        position: absolute;
        top: 0px;
        right: 0;
        text-align: right !important;
        font-style: normal;
        font-weight: 500;
        font-size: 13px !important;
        line-height: 170%;
        padding-top: 0px !important;
    }

    .base_code_item:nth-child(5):before{
        content: "Article: ";
        font-weight: 500;
        color: var(--gray-6F);
    }

    #vio-based-code .table_analysis .table_analysis_body li:nth-child(3){
        width: 60% !important;
    }

    .table_analysis_body .base_code_item:nth-child(2){
        font-style: normal;
        font-weight: 500 !important;
        font-size: 16px;
        line-height: 170%;
        padding-top: 10px !important;
    }

    .table_analysis_body .base_code_item{
        width: 100% !important;
    }

    .base_code_item:nth-child(4):before{
        content: "Violation type: ";
        color: var(--gray-6F);
        font-weight: 500;
    }

    .type_pc{
        display: none;
    }

    .type_mobi{
        display: block;
        width: 100% !important;
        padding-top :10px;
    }

    .table_brand .list--select--option .list--select__left .open_Nav_filter{
        margin: 0px;
        top: 0px;
        position: relative;
        z-index: 0;
    }

    .table_brand .list--select--option .list--select__left{
        width: inherit ;
    }
    .title_table_analysis p,
    .title__country--violation{
        color: var(--primary);
    }
}

@media (max-width: 739px){
    .btn_excel:before{
        content: "Export";
    }

    .slc_analysis .list--select__left #daterange{
        width: 100% !important;
    }

    .index__violation{
        margin-bottom: 20px !important;
    }
}

@media (max-width: 500px){
    .slc_analysis .list--select__left .btn__apply{
        display: none;
    }

    #apply_date{
        display: none;
    }

    .circulars .percentage{
        font-size: 30px;
    }

    .circulars .amount{
        font-size: 16px;
        margin-top: 55px;
        max-width: 50%;
    }
}

@media (max-width: 425px){

    .circulars .percentage{
        font-size: 25px;
    }

    .circulars .amount{
        font-size: 14px;
        margin-top: 35px;
    }
}

@media (max-width: 350px){

    .circulars .percentage{
        font-size: 20px;
    }
    .circulars .amount{
        font-size: 12px;
        margin-top: 35px;
        max-width: 40%;
    }
}
