@media (max-width: 1233px) {
    .Base_violation--brand,
    .index_violation-nonViolation,
    .title_analysis .list--select--option,
    .title_analysis .list--title {
        margin: 15px 150px;
    }
}

@media (max-width: 1113px) {
    /* //STATUS */
    .title_analysis .list--title {
        margin: 0 30px 0 60px;
    }

    .list_slc_analysis .btn__apply,
    .list_slc_analysis #daterange{
        display: none;
    }

    .title_analysis .list--select--option{
        margin: 0 30px 0 0px;
    }


    .Base_violation--brand,
    .index_violation-nonViolation{
        margin: 15px 30px 0 15px;
    }

    .Base_violation--brand{
        padding: 20px;
    }

    .Base_violation--brand .list--select--option{
        display: block;
    }

    .Base_violation--brand .list--select__right{
        width: 100%;
    }

    .index_violation-nonViolation{
        height: 100%;
    }

    .title_table_analysis{
        display: block;
        text-align: center;
        margin: 20px 0 10px 0;
    }

    .title_table_analysis p{
        font-family: 'Brandon Grotesque';
        font-style: normal;
        font-weight: 420;
        font-size: 20px;
        line-height: 29px;
        color: #072136;
    }

    .index__violation {
        display: block;
    }

    .index__violation:nth-child(2) div{
        background: #E2F2E3;
        margin: 0px 20px 10px 20px;
        position: relative;
        border-radius: 5px;
    }

    .index__violation:nth-child(3) div{
        background: #FFD2DA;
        margin: 0px 20px 10px 20px;
        position: relative;
        border-radius: 5px;
    }

    .index__violation:nth-child(4) div{
        background: #DDEAF3;
        margin: 0px 20px 20px 20px;
        position: relative;
        border-radius: 5px;
    }

    .title-violation{
        padding: 15px 20px ;
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 170%;
        color: #6F6F6F;
    }

    .number-violation{
        padding: 0px 20px 15px 20px;
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: 31px;
        line-height: 42px;
        color: #5DA364 !important;
    }

    .index__violation:nth-child(3) > div .number-violation{
        color: #D80027 !important;
    }

    .index__violation:nth-child(4) > div .number-violation{
        color: var(--primary) !important;
    }

    .index__violation:nth-child(4) > div:after{
        content: '100%';
        position: absolute;
        top: 0px;
        right: 0;
        margin: 15px 20px;
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 136.5%;
        color: var(--gray-6F) !important;
    }

    .percent-violation{
        position: absolute;
        top: 0px;
        right: 0;
        margin: 15px 20px;
        background: transparent !important;
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 136.5%;
        color: var(--gray-6F) !important;
    }
    /* TABLE BASE ON BRAND */
    .Base_violation--brand .list--select--option .list--select__right{
        width: 100%;
    }

    .Base_violation--brand .list--select--option .list--select__right p {
        font-family: 'Brandon Grotesque';
        font-style: normal;
        font-weight: 420;
        font-size: 20px;
        line-height: 29px;
        color: var(--primary);
    }

    .table_analysis_body > li:first-child,
    .table_analysis_header{
        display: none;
    }

    .table_analysis_body > li:nth-child(2){
        margin-top: 10px;
    }

    .table_analysis_body{
        display: block;
        position: relative;
        border-bottom: 1px solid var(--gray-C7);
    }

    .table_analysis_body >  .item_base_on_brand{
        width: 100% !important;
    }

    .item_base_on_brand{
        padding: 0px 0px 5px 0 !important;
    }

    .table_analysis_body li:nth-child(2){
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 170%;
        color: var(--black);
    }

    .res_item_brand{
        width: 100%;
        padding-top: 30px;
    }

    .res_item_brand .item_base_on_brand{
        width: auto ;
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 500;
        font-size: 13px !important;
        line-height: 170%;
    }

    .res_item_brand .item_base_on_brand:nth-child(2){
        position: absolute;
        top: 30px;
        color: #D80027 !important;
    }

    .res_item_brand .item_base_on_brand:nth-child(2):after{
        content : " violations";
        color: #D80027 !important;
    }

    .res_item_brand .item_base_on_brand:first-child{
        padding-right: 30px !important;
    }

    .res_item_brand .item_base_on_brand:first-child:before{
        content : "Article: ";
        color: var(--gray-6F);
    }

    .res_item_brand .item_base_on_brand:nth-child(3):before{
        content : "Percentage: ";
        color: var(--gray-6F);
    }

    .slc_analysis .list--select__left .btn__apply,
    .slc_analysis .list--select__left #daterange{
        display: none;
    }

    /* TABLE ON CONDE */
    .base_code_item{
        padding-left: 0px !important;
        width: 100% !important;
    }

    .base_code_item:nth-child(5){
        position: absolute;
        top: 0px;
        right: 0;
        text-align: right !important;
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 500;
        font-size: 13px !important;
        line-height: 170%;
        padding-top: 10px !important;
    }

    .base_code_item:nth-child(5):before{
        content: "Article: ";
        color: var(--gray-6F);
    }

    .table_analysis_body .base_code_item:nth-child(2){
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 500 !important;
        font-size: 16px;
        line-height: 170%;
        padding-top: 10px !important;
    }

    .table_analysis_body .base_code_item{
        width: 100% !important;
    }

    .base_code_item:nth-child(4):before{
        content: "Violation type: ";
        color: var(--gray-6F);
    }

    .type_pc{
        display: none;
    }

    .type_mobi{
        display: block;
        width: 100% !important;
        padding-top :10px;
    }

}

@media (max-width: 739px){
    .btn_excel:before{
        content: "Export";
    }
}
