.modebar {
    /* left: 50% !important;
    transform: translateX(-50%) !important; */
}

.frame-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90%;
}

.frame-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.table_map{
    height: 800px;
}

.style_map{
    margin: 16px 199px;
    padding: 10px;
}

.block_map{
    width: 100%;
    height: 100%;
}

.padding_title{
    padding: 90px 0 10px 0;
}

.border_table{
    border: 1px solid var(--gray-C7);
}

@media (max-width: 1355px) {
    .style_map{
        margin: 16px 150px;
    }
}

@media (max-width: 1255px) {
    .style_map{
        margin: 16px 100px;
    }
}

@media (max-width: 1113px) {
    .style_map {
        margin: 16px 16px;
    }
}

@media (max-width: 739px) {
    .table_map{
        height: 500px;
        position: relative;
    }
    .js-plotly-plot .plotly .modebar {
        top: 100px !important;
    }
    .plot-container {
        position: relative !important;
        top: -100px !important;
    }
    .border_bottom{
        border-bottom: 1px solid var(--gray-C7);
        width: 100%;
        position: absolute;
        z-index: 1000;
        left: 0;
        bottom: -1px;
    }
    .title_table_analysis p,
    .title__country--violation{
        font-size: 30px;
    }

}

@media (max-width: 500px) {
    .table_map{
        height: 375px;
        position: relative;
    }
    .js-plotly-plot .plotly .modebar {
        top: 160px !important;
    }
    .plot-container {
        position: relative !important;
        top: -160px !important;
    }
}

@media (max-width: 425px) {

    .js-plotly-plot .plotly .modebar {
        top: 190px !important;
    }
    .plot-container {
        position: relative !important;
        top: -190px !important;
    }
}

