@media (max-width: 1113px){
    .daterangepicker .drp-calendar.right {
        position: absolute !important;
        right: 0 !important;
        top: 0 !important;
    }

    .daterangepicker .drp-calendar.right {
        padding: 16px !important;
    }

    .daterangepicker .drp-calendar.right tbody {
        display: none !important;
    }

    .daterangepicker .drp-calendar.right thead > tr:nth-child(2) {
        display: none !important;
    }

    .daterangepicker .drp-calendar.right th.month {
        display: none !important;
    }

    .daterangepicker .drp-calendar.right .calendar-table {
        background: transparent !important;
    }

    .daterangepicker .daterangepicker.ltr .ranges, .daterangepicker.ltr .drp-calendar {
        float: none !important;
    }

    .daterangepicker .drp-calendar.right .daterangepicker_input {
        position: absolute !important;
    }
}
@media (min-width: 426px) and (max-width: 739px){

}

@media (max-width: 425px) {
    .daterangepicker .drp-calendar.right {
        padding: 0px !important;
    }

    .daterangepicker .drp-calendar.left .calendar-table{
        border: 1px solid #f4f4f4 !important;
        border-radius: 30px 30px 0 0 !important;
        padding: 20px !important;
        box-shadow: 0px 1px 6px rgb(0 0 0 / 40%);
        height: 100% !important;
     }

     .daterangepicker:before{
        display: none !important;
    }

    .daterangepicker .drp-calendar.left {
        padding: 0px !important;
    }

     .table-condensed > thead tr .prev{
        text-align: left !important;
        padding-left: 16px !important;
     }

     .daterangepicker .drp-calendar{
        max-width: inherit !important;
    }

     .daterangepicker.opensright:after{
        left: 0!important;
    }

    .daterangepicker:after{
        top: 0!important;
        border: none !important;
    }

    .daterangepicker{
          position: fixed !important;
          width: 100% !important;
          bottom: 0 !important;
          left: 0 !important;
          top: inherit !important;
          border: none !important;
    }

    .daterangepicker .drp-calendar.right {
        position: absolute !important;
        right: 0 !important;
        top: 0 !important;
    }

    .daterangepicker .drp-calendar.right tbody {
        display: none !important;
    }

    .daterangepicker .drp-calendar.right thead > tr:nth-child(2) {
        display: none !important;
    }

    .daterangepicker .drp-calendar.right th.month {
        display: none !important;
    }

    .daterangepicker .drp-calendar.right .calendar-table {
        background: transparent !important;
        padding-top: 28px !important;
        padding-right: 29px !important;
    }

    .daterangepicker .daterangepicker.ltr .ranges, .daterangepicker.ltr .drp-calendar {
        float: none !important;
        height: 60vh !important;
    }

    .daterangepicker .drp-calendar.right .daterangepicker_input {
        position: absolute !important;
    }

    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        padding-bottom: 25px !important;
        font-size: 16px !important;
      }
}
