@media (max-width: 1440px) {

    .nav--btn__after--login {
        margin-right: 1.3em;
    }

    .nav--btn__after--login > a{
        font-size: 18px;
    }

    .nav--btn__after--login > div{
        font-size: 18px;
    }
    .padding_has_login{
        padding: 20px 60px;
    }
}


@media (min-width: 1114px){
    .active_header_login{
        display: none;
    }

    .open_Nav{
        display: none;
    }
    .overlay_nav{
        background: none;
        width:0%;
        display:none;
    }

    .open_Nav,
    #myNav .closebtn{
        display: none;
    }
    .nav_container > div{
        width: 100% !important;
    }
}

@media (max-width: 1113px){

    .active_bg_header{
        background: rgb(218 218 218);
    }

    .active_header_login{
        display: block;
    }

    .nav_container {
        z-index: 101 !important;
        position: absolute;
    }

    .nav-link{
        display: contents !important;
    }

    .after-login {
        align-items: inherit;
    }

    .closebtn img{
        padding: 8px 16px;
    }

    .nav_container{
        box-shadow: none;
    }

    .nav_container > div{
        width: 0%;
    }

      .overlay_header {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: #0C3C60;
        overflow-x: hidden;
        transition: 0.5s;
        position: fixed;
        z-index: 2;
      }

      .overlay-content {
        position: relative;
        width: 100%;
        margin-top: 30px;
      }

      .dropdown_mbl-display{
        display: block;
        width: 30px;
        }

      .nav--btn__after--login{
        padding-left: 16px;
        margin-bottom: 40px;
      }

      .name_trace--violation{
          display: inline;
      }

      .nav--btn__after--login:nth-child(3) > div,
      .nav--btn__after--login a {
        text-decoration: none;
        transition: 0.3s;
        font-family: 'Brandon Grotesque';
        font-style: normal;
        font-weight: 420;
        font-size: 20px;
        line-height: 29px;
        color: var(--white);
        display: flex;
        justify-content: space-between;
      }

      .nav--dropdown li > a {
        background-color: var(--primary);
        padding: 0px;
      }

      .drop_nav_violation{
        padding: 20px 16px 20px 0;
        display: block !important;
    }

      .drop_nav_violation:first-child(){
          padding-top: 40px;
      }

      .drop_nav_violation:nth-child(2){
        padding-bottom: 0px;
        }

      .overlay_header a:hover, .overlay_header a:focus {
        color: var(--gray-C7);
      }

      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }

      .nav-menu{
        display: flex;
        flex-direction: column;
      }

      .nav-menu .no-padding{
          justify-content: inherit !important;
          flex-direction: column;
      }

      .nav-menu .no-padding ul{
          width: 100%;
      }

      .center-header{
          flex-direction:column;
      }

      /* .btn__header li:hover .nav--btnBorder__bottom{
        border-bottom: 1px solid  var(--white);
        transition: 0.3s linear;
        } */

      .nav--btnBorder__bottom{
        border-bottom: 1px solid var(--primary);
      }

      .activeHeader{
        border-bottom: 1px solid var(--white) !important;
    }

      .nav--dropdown {
        position: inherit;
        background-color: var(--primary);
        box-shadow: none !important;
      }

      .after-login img{
          display: none;
      }

      .dropdown-login{
        position : inherit;
        width: inherit;
        background-color: var(--primary);
        box-shadow: none !important;
        display: block !important;
      }

      #edit__profile p {
        font-family: 'Brandon Grotesque';
        font-style: normal;
        font-weight: 420;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        padding-left: 16px;
        margin-bottom: 40px;
      }

      .dropdown-login p{
        padding: 0px;
        padding-left: 16px;
      }

      .dropdown-login p a{
        color: #FFFFFF;
        font-family: 'Brandon Grotesque';
        font-style: normal;
        font-weight: 420;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
      }

      .dropdown-item{
        padding: 0px;
      }

      .activeBackground{
          background-color: transparent !important;
      }

      .btn_no-login {
        justify-content: flex-start;
        padding-left: 16px;
    }

      .nav__btn--login > a {
        color: #fff;
    }
}

@media (min-width: 740px) and (max-width: 1113px){
    .padding_has_login,
    .padding_no_login{
        padding: 8px 16px;
    }

    .open_menu{
        width: 40% !important;
    }
}

@media (min-width: 426px) and (max-width: 739px){
    .padding_has_login,
    .padding_no_login{
        padding: 8px 16px;
    }
    .open_menu{
        width: 50% !important;
    }
}

@media (max-width: 425px) {
    .padding_has_login,
    .padding_no_login{
        padding: 8px 16px;
    }
    .open_menu{
        width: 100% !important;
    }
}
