/* PC medium resolution > */
@media (min-width: 1113px) {

}

/* Tablet - PC low resolution */
@media (min-width: 426px) and (max-width: 1112px) {
    .form__login {
        margin: auto;
        display: flex;
        align-items: center;
        height: 100vh;
        background: url("../../image/login/image-1.svg") no-repeat center center ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .block__login {
        background-color: var(--white);
        padding: 34px 28px 24px 28px;
        border-radius: 5px;
    }
    .login__header{
        text-align: center;
    }
}

@media (max-width: 425px) {

    .form__login {
        margin: auto;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        background: url("../../image/login/image-1.svg") no-repeat center center ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-y: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .block__login {
        /* margin: 0; */
        position: absolute;
        background-color: var(--white);
        border-radius: 30px 30px 0px 0px;
        padding: 34px 18px 24px 18px;
        width: 100%;
        bottom : 0px;
    }
    .login__header{
        text-align: center;
        font-family: 'Brandon Grotesque';
        font-style: normal;
        font-weight: 420;
        font-size: 25px;
        line-height: 36px;
    }
    .bottom__login{
        display: block;
    }
    .btn_forgot--pasword{
        display: block;
        margin: 0;
        text-align: center;
    }
    .text_recover--pass{
        margin: 15px 0 20px 0;
    }
    .btn_submit{
        margin: 26px 0 6px 0;
    }
}

@media (max-height: 500px){
    .block__login {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
