
@media(max-width: 1113px){
    .checkbox__suspected:first-child:after {
        content: "Text/image";
    }

    .fix_manual{
        margin: 0px !important;
    }

    .checkbox__suspected:nth-child(2):after {
      content: "URL";
    }
    .checkbox__suspected .checkmark{
        display: none;
    }

    .fix_manual .list--select--option,
    .fix_manual .title__result,
    .fix_manual > form,
    .fix_manual .list--suspected__text--img{
        margin: 0 16px;
    }

    .fix_manual > form .btn__check{
        max-width: 100% !important;
    }

    .suspected__text__area{
        max-width: 100%;
        height: 140px;
    }

    .suspected__file__area{
        padding: 0px !important;
    }

    .file-input{
        max-width: 100%;
        border-style: dashed;
        margin: 12px 0;
    }

    .file-input > .button{
        padding-top: 20px;
    }

    .file-input > .label{
        padding-bottom: 20px;
    }

    .list--suspected__text--img div > label{
        padding: 10px 0;
        text-align: center
    }

    .active_checked{
        background-color: var(--gray-F4) !important;
        border-radius: 10px;
    }

    .country_mobile{
        display: block;
        margin-top: 30px;
    }

    .gray_mobi{
        margin-top: 30px;
        margin-bottom: 0px;
        width: 100%;
        margin-bottom: 15px;
        display: block;
    }

    .btn__check #submit_captcha{
        background-color: var(--primary);
    }

    .title__result p{
        font-family: 'Brandon Grotesque';
        font-style: normal;
        font-weight: 420;
        font-size: 20px;
        line-height: 29px;
        color: var(--primary);
    }
}

@media (max-width: 739px) {
    .fix_manual .list--select--option .list--select__left .list--search {
        width: 100%;
    }
}
