@media(max-width: 1113px) {
    .list--title {
        margin-left: 30px;
    }

    .container__usermanual{
        margin: 0 60px;
    }

    .wrapper{
        margin: 0;
    }

    .title_instruction{
        margin: 10px 0 10px 30px;
    }

    .accordion{
        background-color: transparent;
        border: 1px solid var(--gray-C7);
    }

    .child-accordion{
        font-weight: 500;
    }

    .accordion:hover{
        background-color: var(--gray-F4);
        transition: background 0.3s linear;
    }

    .title_instruction{
        margin-left: 0;
    }
    .wrapper{
        height: 50vw;
    }
    .border_grays{
        display: block;
    }

}

@media (max-width: 873px) {
    .child-accordion,
    .accordion{
        font-size: 16px;
    }

    .panel p{
        font-size: 13px;
    }

}

@media (max-width: 739px) {
    .container__usermanual{
        margin: 0 15px;
    }
    .child-accordion,
    .accordion{
        font-size: 14px;
    }
    .child-accordion > img,
    .accordion > img{
        width: 15px;
    }
}

@media (max-width: 560px) {
    .accordion{
        font-size: 14px;
        height: 90px;
    }
}
