.table__admin--management{
    margin: 28px 60px;
}

.admin__management{
    margin: 0 !important;
    border: none ;
    padding:0 !important;
    margin: 16px 199px;
    padding: 26px 64px;
    width: 100%;
}

.admin__management table tr th{
    width: 8.4% ;
}

.admin__management table tr th:first-child{
    width: 4.2% ;
}

.admin__management table tr th:nth-child(2){
    width: 21.2% ;
}

.admin__management table tr th:nth-child(3){
    width: 25.4% ;
}
.admin__management table tr th:nth-child(4){
    width: 15.4% ;
}
.admin__management table tr th:nth-child(5){
    width: 17% ;
}

.admin__management table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 26px;
  }

.admin__management table tr td,
.admin__management table tr th{
    text-align: left;
    padding: 12px 0;
    padding-left: 20px;
}

.admin__management table tr td{
    padding: 17px 0 30px 0;
}

.admin__management table tr td:nth-child(7),
.admin__management table tr td:nth-child(6){
    padding-left: 30px;

}

.admin__management table tr th{
    background-color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 136.5%;
    color: var(--primary);
    position: relative;
    background: #F4F4F4;
}


.admin__management table tr th img{
    position: absolute;
    margin-left: 8.5px;
}

.admin__management table tr td{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.5%;
    color: var(--black);
    text-align:left;
    padding-left: 20px;
    border-bottom: 1px solid var(--gray-C7);
}

.btn__delete--user{
    margin-top: 13px;
    padding: 12px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 136.5%;
    text-align: center;
    color: #6F6F6F;
    background-color: var(--white);
    border: 1px solid var(--gray-C7);
    width: 48%;
}

.list_query{
    justify-content: space-between;
    display: flex;
    margin-right: 60px;
}

.list_query-right{
    display: flex;
    justify-content: end;
}

.style_showing{
    justify-content: inherit;
}

.query_left{
    width: 50%;
}
