 /* checkbox suspected */
 .checkbox__suspected .checkmark:after{
    left: 5px;
    top: -2px;
    width: 12px;
    height: 18px;
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkbox__suspected:hover input ~ .checkmark,
  .checkbox__suspected input:checked ~ .checkmark {
    background: var(--primary);
  }
  /* text area  */

  .suspected__text__area{
    max-width: 761px;
    width: 100%;
    height: 203px;
    padding: 10px;
    border: 1px solid var(--gray-C7);
  }

  .suspected__text__area:first-child{
      margin-right: 20px;
  }

  .suspected__text__area textarea{
      width: 100%;
      height: 100%;
      border: none;
  }
  /* text area files */
  textarea:disabled{
    background: var(--white);
  }

  .file-input {
    max-width: 203px;
    max-height: 203px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--white);
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray-C7);
  }

  .file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }

  .file-input > .button {
    cursor: pointer;
  }

  .file-input > .label {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 13px 34px 0 34px;
    text-align: center;
    color: var(--gray-6F);

  }
  .file-input.-chosen > .label {
    opacity: 1;
  }

  /* Btncheck  */
  .btn__check{
      margin-top: 15px;
      margin-bottom: 30px;
      max-width: 179px;
  }

  .btn__check button{
    width: 100%;
    padding: 12px 0;
    border: none;
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 136.5%;
    background: var(--gray-C7);
  }

  .title__result{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 136.5%;
    margin-bottom: 10px;
  }

  .active_checked{
      color: var(--primary) !important;
  }

  .country_mobi{
      display: none;
  }

  .country_pc{
      margin-top: 10px;
  }
