 /* checkbox suspected */
 .checkbox__suspected .checkmark:after{
    left: 4px;
    top: 4px;
    width: 15px;
    height: 15px;
    border: solid var(--primary-color);
    border-radius: 50%;
    background: var(--primary);
  }
  .checkbox__suspected:hover input ~ .checkmark,
  .checkbox__suspected input:checked ~ .checkmark {
    background: var(--white);
  }
  /* text area  */

  .suspected__text__area{
    max-width: 761px;
    width: 100%;
    height: 203px;
    padding: 10px;
    border: 1px solid var(--gray-C7);
  }

  .suspected__text__area:first-child{
      margin-right:5px;
  }

  .suspected__text__area textarea{
      width: 100%;
      height: 100%;
      border: none;
  }
  /* text area files */
  textarea:disabled{
    background: var(--white);
  }

  .file-input_detect {
    max-width: 203px;
    max-height: 203px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--white);
    position: relative;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--gray-C7); */
  }

  .file-input_detect > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }

  .file-input_detect > .button {
    cursor: pointer;
  }

  .file-input_detect > .label {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 13px 10px;
    width: 100%;
    text-align: center;
    color: var(--gray-6F);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: left;

  }
  .file-input_detect .-chosen > .label {
    opacity: 1;
  }

  /* Btncheck  */
  .btn__check{
      margin-top: 15px;
      margin-bottom: 30px;
      max-width: 179px;
  }

  .btn__check button{
    width: 100%;
    padding: 12px 0;
    border: none;
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 136.5%;
    background: var(--gray-C7);
  }

  .title__result{
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    margin-bottom: 30px;
  }

  .active_checked{
      color: var(--primary) !important;
  }

  .country_mobi{
      display: none;
  }

  .gray_mobi{
      display: none;
  }

  .country_mobile{
      display: none;
  }

  .list--suspected__text--img{
    margin-bottom: 10px;
}
    .list--suspected__text--img div{
        width: 100%;
    }

    .suspected__file__area  .file-input_detect{
        border: 1px solid var(--gray-C7);
    }


textarea {
    resize: none;
  }

  #modal-country-label_mobi .full_modal .container_modal_edit{
    height: 90%;
  }

  #modal-country-label_mobi .full_modal > .btn-modal{
    height: 10%;
    z-index: 1;
  }

  #modal-country-label_mobi .full_modal .container_modal_edit .country_mobi .contain_country .option_general span{
    top: 2px;
  }

  #modal-country-label_mobi .full_modal .container_modal_edit .country_mobi .contain_country{
      /* overflow-y: hidden; */
      display: block !important;
  }

  #modal-country-label_mobi .full_modal .container_modal_edit .country_mobi .contain_country .option_general p{
    padding-left: 10px;
    color: var(--black);
  }

  #modal-country-label_mobi .full_modal .container_modal_edit .country_mobi{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
  }

  #modal-country-label_mobi .full_modal .container_modal_edit .country_mobi .contain_country{
    max-height: inherit;
    height: 100%;
    }

#modal-country-label_mobi .full_modal .container_modal_edit .country_mobi .search--input--country{
    margin: 20px 0px 10px 0px;
    padding: 15px;
}

#modal-country-label_mobi .full_modal .container_modal_edit .country_mobi .search--input--country input{
    padding-left: 10px;
}

