.nav_container{
    box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
    width: 100%;
}

.nav_container > div{
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.btn__header{
    justify-content:flex-end;
}

.nav--btn__before--login{
    margin-right: 3em;
    cursor: pointer;
}

.nav--btn__after--login{
    margin: 0 30px;
    cursor: pointer;
}

.nav--btn__after--login > div,
.nav-link{
    font-family: "Brandon Grotesque";
    font-style: normal;
    font-weight: 420;
    font-size: 20px;
    line-height: 29px;
    color: var(--primary);
}

.after-login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.after-login img:first-child{
    margin-right: 16px;
}

.nav-menu div:first-child{
    align-items: center;
}

.nav-menu{
    justify-content: center;
}

nav-menu > ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Brandon Grotesque";
    flex-direction: column;
    font-style: normal;
    font-weight: 420;
    font-size: 20px;
    line-height: 29px;
    list-style: none;
    color: var(--primary);
}

.nav-menu > ul li:nth-child(3){
    position: relative;
}

.nav--dropdown{
    position: absolute;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
    top: 75px;
    width: 195px;
    background-color: var(--white);
    display: none;
    z-index: 2;
}

.style_dropdown{
    top: 65px;
}

.nav--dropdown li {
    color: var(--black);
}

.nav--dropdown li > a{
    padding: 14px 0 14px 19px;
}

.nav--dropdown li:hover{
    background-color: var(--gray-F4);
    transition: 0.3s linear;
}

.btn__header li:hover .nav--btnBorder__bottom{
    border-bottom: 1px solid var(--primary);
    transition: 0.3s linear;
}


.nav--btnBorder__bottom{
    border-bottom: 1px solid var(--white);
    width: 30px;
    z-index: 2;
    transition: 0.3s linear;
}

li:nth-child(3) img{
    margin-left:9px
}

.nav__btn--login{
    position: absolute;
    right: 50px;
    top: 26px;
}


.nav__btn--login > a {
    padding: 10px 0;
    border: 1px solid #0C3C60;
    color: #0C3C60;
    max-width: 179px;
    width: 100%;
    margin: 0px;
    text-align: center;
}

.dropdown_mbl-display{
    display: none;
}

.btn--export--excel{
    margin-left: 5px;
    padding: 12px 10px;
    background-color: var(--primary);
    text-decoration: none;
    width: 120px;
}

.btn--export--excel p {
    color: var(--white);
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.dropdown-login{
    position: absolute;
    top: 45px;
    width: 195px;
    right: -47px;
    background-color: var(--white);
    display: none;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
}

.dropdown-login p{
    padding: 14px 0 14px 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.dropdown-login p:hover {
    background-color: var(--gray-F4);
    transition: 0.3s linear;
}

.activeHeader{
    border-bottom: 1px solid #0C3C60;
}

.activeBackground{
    background-color: var(--gray-F4);
}
/* .test{
margin: auto;
} */
.style__code--article{
    display: flex !important;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    width: 30%;
    /* padding: 10px; */
    align-items: center;
    /* justify-content: center; */
}

.style__code--article:hover{
    overflow: auto;
}

.style__code--article::-webkit-scrollbar {
    width: 5px;
  }

  .style__code--article::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(163, 162, 162);
    border-radius: 10px;
}

  .style__code--article::-webkit-scrollbar-thumb {
    background: var(--gray-F4);
    border-radius: 10px;
}

.style__code--article div{
    padding-bottom: 5px;
    text-align: center;
}
.style__code--article a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
}

.style__code--article a:hover{
    text-decoration: underline;
    transition: 0.3s linear;
}

.btn_no-login{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 175px;
    position: absolute;
    top: 5px;
    right: 50px;
}

.padding_no_login{
    padding: 16px 60px;
}

.padding_has_login{
    padding: 20px 80px;
}

.open_Nav_filter{
    display:none
}
