.nav_container{
    box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
    width: 100%;
}

.nav_container > div{
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.btn__header{
    justify-content:flex-end;
}

.nav--btn__before--login{
    margin-right: 3em;
    cursor: pointer;
}

.nav--btn__after--login{
    margin-right: 2.1em;
    cursor: pointer;
}

.nav--btn__after--login > div,
.nav-link{
    font-family: "Brandon Grotesque";
    font-style: normal;
    font-weight: 420;
    font-size: 20px;
    line-height: 29px;
    color: var(--primary);
}

.after-login{
    display: flex;
    align-items: center;
    /* position: relative; */
    justify-content: flex-end;
}

.after-login img:first-child{
    margin-right: 16px;
}

.nav-menu div:first-child{
    align-items: center;
}

nav-menu > ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Brandon Grotesque";
    flex-direction: column;
    font-style: normal;
    font-weight: 420;
    font-size: 20px;
    line-height: 29px;
    list-style: none;
    color: var(--primary);
}

.nav-menu > ul li:nth-child(3){
    position: relative;
}

.nav--dropdown{
    position: absolute;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
    top: 80px;
    width: 195px;
    background-color: var(--white);
    display: none;
    z-index: 2;
}

.style_dropdown{
    top: 75px;
}

.nav--dropdown li {
    color: var(--black);
}

.nav--dropdown li > a{
    padding: 14px 0 14px 19px;
}

.nav--dropdown li:hover{
    background-color: var(--gray-F4);
    transition: 0.3s linear;
}

.btn__header li:hover .nav--btnBorder__bottom{
    border-bottom: 1px solid var(--primary);
    transition: 0.3s linear;
}


.nav--btnBorder__bottom{
    border-bottom: 1px solid var(--white);
    width: 30px;
    z-index: 2;
    transition: 0.3s linear;
}

li:nth-child(3) img{
    margin-left:9px
}


.nav__btn--login > a {
    padding: 13px;
    border: 1px solid #0C3C60;
    color: #0C3C60;
    max-width: 179px;
    width: 100%;
    margin: 0px;
    text-align: center;
}

.dropdown_mbl-display{
    display: none;
}

.btn--export--excel{
    margin-left: 10px;
    padding: 14px 10px;
    background-color: var(--primary);
    text-decoration: none;
}


.btn--export--excel p {
    color: var(--white);
    font-family: "Avenir Font";
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.dropdown-login{
    position: absolute;
    top: 80px;
    width: 195px;
    right: 0px;
    background-color:var(--white);
    display: none;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
}

.dropdown-login p{
    padding: 14px 0 14px 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.dropdown-login p:hover {
    background-color: var(--gray-F4);
    transition: 0.3s linear;
}

.activeHeader{
    border-bottom: 1px solid #0C3C60;
}

.activeBackground{
    background-color: var(--gray-F4);
}

.style__code--article{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    border-left:1px solid #E5E5E5;
    border-right:1px solid #E5E5E5;
    width: 30%;
    padding: 10px;
}

.style__code--article div{
    padding-bottom: 5px;
    text-align: center;
}
.style__code--article a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
}

.style__code--article a:hover{
    text-decoration: underline;
    transition: 0.3s linear;
}

.btn_no-login{
    display: flex;
    justify-content: end;
    align-items: center;
}

.padding_no_login{
    padding: 8px 108px;
}

.padding_has_login{
    padding: 20px 108px;
}
