.list--search--select{
    margin-left: 60px;
}

.list--country,
#daterange,
.list--search{
    width: 220px;
    display: flex;
    border: 1px solid var(--gray-C7);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5px;
}

.list--country{
    width: 130px;
}

.list--country img,
.list--violation--type img,
.list--company--brand img,
#daterange img,
.list--search img {
    margin: 0 5px;
    width: 10px;
}

.list--country p,
.list--violation--type p,
.list--company--brand p,
#daterange input,
.list--search p {
    font-size: 14px;
}

.list--company--brand img:first-child,
.list--search img:first-child,
#daterange img:first-child,
.list--violation--type img:first-child,
.list--country img:first-child{
    width: 15px;
}

.list--company--brand p ,
.list--violation--type p,
.list--country p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
    text-align: center;
}

#daterange input,
.list--search input{
    border: none;
    margin: 10px 5px 10px 0px;
    width: 100%;
}

.form--daterange{
    cursor: pointer;
}

.btn__change--password,
.input--modal img,
#edit__profile p,
.delete__profile,
.edit__profile img,
.create__profile,
.list--showing select{
    cursor: pointer;
}

.li-delete-profile{
    padding-left: 10px !important;
}

.list--showing{
    padding: 13px;
    border: 1px solid var(--gray-C7);;
}

.list--showing select,
#daterange input,
.search:focus-visible{
    outline: none;
}

.list--company--brand{
    width: 170px;
    display: flex;
    border: 1px solid var(--gray-C7);
    padding: 14px 0 ;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

.list--country{
    position: relative;
    justify-content: space-between;
    padding: 14px 0;
}

.list--violation--type{
    width: 150px;
    display: flex;
    border: 1px solid var(--gray-C7);
    padding: 14px 0 ;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.list--select--option{
    display: flex;
    align-items: center;
}

.padding_btn_analysis{
    justify-content:flex-end;
}

.list--select__left{
    display: flex;
    width: 100%;
}

.max_width{
    width: 100% !important;
}

.list--title p {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    margin: 24px 0 15px 0;
}

.list--select__right{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.list--select__right > p{
    padding-right: 12px;
}

.list--select__right p{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
}

.list--select__right select{
    width: 66px;
    border: none;
    font-size: 14px;
}

.list_filter{
    display: flex;
}

.hide{
    display: none !important;
}

.name_trace--violation:after{
    content: url(../../image/Under-than.svg);
    width: 10px;
    height: 10px;
    margin-bottom: 15px;
    margin-right: 30px;
}

.name_login{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 18px;
    line-height: 29px;
    color: #0C3C60;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    margin-right: 25px;
    cursor: pointer;
    text-align: right;
}

.after-login:after{
    content: url(../../image/Under-than.svg);
    width: 100%;
    text-align: right;
    cursor: pointer;
}

@media (min-width: 1440px){
    .name_login{
        font-size: 20px;
    }
}
