.index_violation-nonViolation{
    height: 312px;
    border: 1px solid var(--gray-C7);
    margin: 16px 199px;
    display: flex;
}

.index__violation{
    display: flex;
    justify-content: center;
}

.title-violation{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 136.5%;
    color: var(--gray-6F);
}

.title_table_analysis{
    align-items: center;
}

.number-violation{
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 136.5%;
    color: var(--primary);
}

.padding_btn_analysis .create__profile{
    padding: 17px 0 ;
    justify-content: flex-end;
}

.percent-violation{
    color: var(--danger);
    padding: 3px 5px;
    background-color: var(--pink);

    display: inline-block;
    border-radius: 5px;
}

.index__violation > div{
    height: 111px;
}

.index__violation:nth-child(2) .percent-violation{
    background-color: var(--percent_success);
}

.index__violation:nth-child(2) .percent-violation,
.index__violation:nth-child(2) .number-violation{
    color: var(--success);
}

.index__violation:nth-child(3) .number-violation{
    color: var(--danger);
}

.table_analysis tbody tr th img{
    cursor: pointer;
}

#apply_query{
    margin-left: 5px;
}

.title_analysis{
    margin: 0;
}

.title_analysis .list--select--option,
.title_analysis .list--title{
    margin: 0 199px;
}

.type_pc{
    display: block;
}

.type_mobi{
    display: none;
}

.title_table_analysis p{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 136.5%;
    color: var(--primary);
}

#apply_date{
    background-color: var(--primary);
    color: var(--white);
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 22px;
    width: 120px;
    border: none;
}
