.index_violation-nonViolation{
    height: 312px;
    border: 1px solid var(--gray-C7);
    margin: 16px 199px;
    display: flex;
}

.index__violation{
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-violation{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 136.5%;
    color: var(--gray-6F);
}

.number-violation{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 136.5%;
    color: var(--success);
}

.padding_btn_analysis .create__profile{
    padding: 17px 0 ;
    justify-content: flex-end;
}

.percent-violation{
    color: var(--success);
    padding: 3px 5px;
    background-color: var(--percent_success);
    display: inline-block;
    border-radius: 5px;
}

.index__violation > div{
    height: 111px;
}

.index__violation:nth-child(2) .percent-violation{
    background-color: var(--pink);
}

.index__violation:nth-child(2) .percent-violation,
.index__violation:nth-child(2) .number-violation{
    color: var(--danger);
}

.index__violation:nth-child(3) .number-violation{
    color: var(--primary);
}

.table_analysis tbody tr th img{
    cursor: pointer;
}

