.index_violation-nonViolation{
    height: 360px;
    border: 1px solid var(--gray-C7);
    margin: 16px 199px;
    display: flex;
    padding: 40px 60px;
}

.height_before{
    height: 30px !important;
    text-align: center;
}

.height_before p{
    line-height: 30px;
}

.height_after p{
    line-height: 10px !important;
}

.height_after{
    height: 0px !important;
    text-align: center;
}

.general_analysis{
    width: 100vw;
}

.title-violation{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 170%;
    color: #6F6F6F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 80%;
    padding-right: 10px;
}

.title_table_analysis{
    align-items: center;
}

.review_violation .number-violation{
    color: var(--primary);
}

.total_entries .number-violation{
    color: var(--primary);
}

.number-violation{
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 100%;
}

.padding_btn_analysis .create__profile{
    padding: 17px 0 ;
    justify-content: flex-end;
}

.total-violation,
.percent-violation{
    color: var(--gray-6F);
    padding: 3px 5px;
    display: inline-block;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 136.5%;
    position: absolute;
    top: 15px;
    right: 25px
}

.unable_detect .number-violation{
    color: #5DA364;
}

.unable_detect .percent-violation{
    background-color: var(--percent_success);
}

.violations_analysis .number-violation{
    color: var(--danger);
}

.table_analysis tbody tr th img{
    cursor: pointer;
}

#apply_query{
    margin-left: 5px;
}

.title_analysis{
    margin: 0;
}

.title_analysis .list--select--option,
.title_analysis .list--title{
    margin: 0 199px;
}

.type_pc{
    display: block;
}

.type_mobi{
    display: none;
}

.title_table_analysis p{
    font-family: var(--bradon);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 136.5%;
    color: #072136;

}

#apply_date{
    background-color: var(--primary);
    color: var(--white);
    font-family: var(--avenir_roman);
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 22px;
    width: 120px;
    border: none;
}

.index__violation{
    padding: 0 8px;
    height: 85px;
}

.height_other{
    height: 210px;
}

.violations_analysis div{
    background-color: var(--pink);
    border-radius: 5px;
    padding: 15px 25px;
    position: relative;
}

.review_violation div{
    background-color:#DDEAF3;
    border-radius: 5px;
    padding: 15px 25px;
    position: relative;
}

.total_entries div {
    background-color: var(--gray-F4);
    border-radius: 5px;
    padding: 15px 25px;
    position: relative;
}

.unable_detect div{
    background-color: #E2F2E3;
    border-radius: 5px;
    padding: 15px 25px;
    position: relative;
}

.frame-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* padding-top: 65.25%; */
}

.frame-wrapper iframe{
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 99%;
}

.table_countries{
    height: 660px;
}
