.Base_violation--brand{
    border: 1px solid var(--gray-C7);
    margin: 16px 199px;
    padding: 26px 64px;
}

.title__base--violation{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 136.5%;
    color: var(--black);
    padding: 0 !important;
}

.table_analysis_body,
.table_analysis_header{
    display: flex;
}

.Base_violation--brand .list--select--option .list--select__left .list--violation--type{
    margin: 0!important;
}

.Base_violation--brand .table_analysis {
    border-collapse: collapse;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 26px;
  }

.Base_violation--brand .table_analysis .table_analysis_body li,
.Base_violation--brand .table_analysis .header_brand li{
    text-align: center;
    padding: 10px 0;
}

.head_code li {
    padding: 10px 0;
    padding-left: 20px;
}

.Base_violation--brand .table_analysis .table_analysis_header li{
    background-color: var(--gray-F4);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 136.5%;
    color: var(--primary);
    position: relative;
}

.item_base_on_brand,
.Base_violation--brand .table_analysis .header_brand li{
    width: 19.5%;
    text-align:left;
    padding-left: 20px;
}

.item_base_on_brand:first-child,
.Base_violation--brand .table_analysis .header_brand li:nth-child(1){
    width: 8.5%;
}

.item_base_on_brand:nth-child(2),
.Base_violation--brand .table_analysis .header_brand li:nth-child(2){
    width: 33%;
    text-align: left;
    padding-left: 20px;
}

.res_item_brand{
    width: 58.5%;
    display: flex;
}

.res_item_brand .item_base_on_brand{
    width: 33.33%;
}

.Base_violation--brand .table_analysis .table_analysis_body li{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.5%;
    color: var(--black);;
    text-align:left;
    padding-left: 20px;
}

.Base_violation--brand .list--select--option .list--select__right{
    width: 25%;
}

.demo__pagination{
    text-align:right;
}

.demo__pagination span{
    margin: 0 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 136.5%;
    color: var(--gray-6F);;
}

.flex-space_beetween{
    justify-content:space-between !important;
}

.base_code_item{
    width: 8.5% ;
}

.base_code_item:nth-child(2){
    width: 19.2% ;
}

.base_code_item:nth-child(3){
    width: 53.5% ;
}

.base_code_item:nth-child(4){
    width: 20.8% ;
}

.title_table_analysis{
    display: none;
}

